.notFoundContainer {
  text-align: center;
  margin-top: 100px;
}

.notFoundHeading {
  font-size: 100px;
  margin-bottom: 20px;
  color: #e76f51;  
}

.notFoundMessage {
  font-size: 20px;
  margin-bottom: 20px;
}

